html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main_page {
    flex: 1 0 auto;
    background-color: #726030;
}

.footer-basic {
    padding: 40px 0;
    background-color: #8d773b;
    color: #726030;
    margin-top: auto;
    position: relative;
    z-index: 1000;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

nav {
    position: relative;
    z-index: 1000;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.footer-basic {
    padding: 40px 0;
    background-color: #64552b;
    color: #ccc;
    margin-top: auto;
    position: relative;
    z-index: 50;
}

@import url('https://fonts.googleapis.com/css?family=Merriweather:900&display=swap');

:root {
    --color-primary: #002626;
    --color-secondary: #F0F7EE;
    --duration: 1s;
    --nav-duration: calc(var(--duration) / 4);
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --space: 1rem;
    --font-primary: 'Helvetica', sans-serif;
    --font-heading: 'Merriweather', serif;
    --font-size: 1.125rem;
    --line-height: 1.5;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    font-size: var(--font-size);
    line-height: var(--line-height);
}

h1 {
    margin-bottom: calc(var(--space) * 3);
    font-family: var(--font-heading);
    font-size: calc(var(--font-size) + 6vmin);
    line-height: calc(var(--line-height) / 1.25);
}

.main-navigation-toggle {
    position: fixed;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;

    +label {
        position: fixed;
        top: calc(var(--space) * 1.5);
        right: calc(var(--space) * 2);
        cursor: pointer;
        z-index: 100;

        display: inline-flex;
        align-items: center;
        gap: 0.75rem;
        padding: 0.25rem 0.5rem;
    }
}

.icon--menu-toggle {
    --size: calc(1rem + 4vmin);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    stroke-width: 6;
}

.icon-group {
    transform: translateX(0);
    transition: transform var(--nav-duration) var(--ease);
}

.icon--menu {
    stroke: #303030;
}

.icon--close {
    stroke: var(--color-secondary);
    transform: translateX(-100%);
}

.main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform var(--nav-duration);
    z-index: 99;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #8d773b;
        transform-origin: 0 50%;
        z-index: -5;
    }

    ul {
        font-size: 12vmin;
        font-family: var(--font-heading);
        width: 100%;
    }

    li {
        --border-size: 1vmin;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: var(--border-size);
            background-color: var(--color-secondary);
            transform-origin: 0 50%;
            transform: translateX(-100%) skew(15deg);
        }
    }

    a {
        display: inline-block;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        color: var(--color-secondary);
        line-height: 1;
        text-decoration: none;
        user-select: none;
        padding: var(--space) calc(var(--space) * 2) calc(var(--space) + var(--border-size) / 2);
        transform: translateY(100%);
    }
}

.main-content {
    margin: 6rem auto;
    max-width: 70ch;
    padding: 0 calc(var(--space) * 2);
    transform: translateX(0);
    transition: transform calc(var(--nav-duration) * 2) var(--ease);

    >*+* {
        margin-top: calc(var(--space) * var(--line-height));
    }
}

.main-navigation-toggle:checked {
    ~label .icon--menu-toggle {
        .icon-group {
            transform: translateX(100%);
        }
    }

    ~.main-content {
        transform: translateX(10%);
    }

    ~.main-navigation {
        transition-duration: 0s;
        transform: translateX(0);

        &:after {
            animation: nav-bg var(--nav-duration) var(--ease) forwards;
        }

        li:after {
            animation: nav-line var(--duration) var(--ease) forwards;
        }

        a {
            animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
        }

        @for $i from 1 through 4 {
            li:nth-child(#{$i}) {

                &:after,
                a {
                    animation-delay: calc((var(--duration) / 2) * #{$i} * 0.125);
                }
            }
        }
    }
}

@keyframes nav-bg {
    from {
        transform: translateX(-100%) skewX(-15deg)
    }

    to {
        transform: translateX(0)
    }
}

@keyframes nav-line {
    0% {
        transform: scaleX(0);
        transform-origin: 0 50%;
    }

    35% {
        transform: scaleX(1.001);
        transform-origin: 0 50%;
    }

    65% {
        transform: scaleX(1.001);
        transform-origin: 100% 50%;
    }

    100% {
        transform: scaleX(0);
        transform-origin: 100% 50%;
    }
}

@keyframes link-appear {

    0%,
    25% {
        transform: translateY(100%);
    }

    50%,
    100% {
        transform: translateY(0);
    }
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */

body {
    font-family: 'Source Sans Pro', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.75;
}

#timeline {
    display: flex;
    background-color: #726030;

    &:hover {
        .tl-item {
            width: 23.3333%;
        }
    }
}

.tl-item {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 100vh;
    min-height: 600px;
    color: #303030;
    overflow: hidden;
    transition: width 0.5s ease;

    &:before,
    &:after {
        transform: translate3d(0, 0, 0);
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &:after {
        background: transparentize(#031625, 0.15);
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    &:before {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #64552b 75%);
        z-index: 1;
        opacity: 0;
        transform: translate3d(0, 0, 0) translateY(50%);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    &:hover {
        width: 30% !important;

        &:after {
            opacity: 0;
        }

        &:before {
            opacity: 1;
            transform: translate3d(0, 0, 0) translateY(0);
            transition: opacity 1s ease, transform 1s ease 0.25s;
        }

        .tl-content {
            opacity: 1;
            transform: translateY(0);
            transition: all 0.75s ease 0.5s;
        }

        .tl-bg {
            filter: grayscale(0);
        }
    }
}

.tl-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 55%;
    opacity: 0;

    h1 {
        font-family: 'Pathway Gothic One', Helvetica Neue, Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        color: #303030;
        font-size: 1.44rem;
        font-weight: normal;
    }
}

.tl-year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;

    p {
        font-family: 'Pathway Gothic One', Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 50px;
        line-height: 0;
    }
}

.tl-bg {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
}