<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- / -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about_me.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/favicons/user.svg') }}">
    <!-- / -->
    <title>Sobre Mi</title>
</head>

<body>
    <!-- NAVBAR -->
    <input id="page-nav-toggle" class="main-navigation-toggle" type="checkbox" />
    <label for="page-nav-toggle">
        <svg class="icon--menu-toggle" viewBox="0 0 60 30">
            <g class="icon-group">
                <g class="icon--menu">
                    <path d="M 6 0 L 54 0" />
                    <path d="M 6 15 L 54 15" />
                    <path d="M 6 30 L 54 30" />
                </g>
                <g class="icon--close">
                    <path d="M 15 0 L 45 30" />
                    <path d="M 15 30 L 45 0" />
                </g>
            </g>
        </svg>
    </label>

    <nav class="main-navigation">
        <ul>
            <li><a href="{{url_for('main')}}">Home</a></li>
            <li><a href="{{url_for('personal')}}">Personal</a></li>
            <li><a href="{{url_for('course')}}">Trayecto</a></li>
            <li><a href="{{url_for('projects')}}">Projects</a></li>
            <li><a href="{{url_for('login')}}">Login</a></li>
        </ul>
    </nav>

    <!-- MAIN -->
    <main class="main_page">
        <h1 style="font-size: 90px;">Nicolas Stasyszyn Parisi</h1>
        <h2 style="font-size: 60px;">( Gorra )</h2>
        <p class="description_text">Estudio programacion en el <a href="https://www.itr.edu.ar/" target="_blank"
                style="text-decoration: none; color: rgb(184, 171, 0);">Instituto Tecnico
                Renault</a> actualmente estoy
            en mi 6to° de mi carrera lectiva.</p>
        <p class="description_text">Despues de terminar el secundario tengo pensado hacer el curso del servicio militar
            argentino, con una
            duracion de 2 años, luego decidire si dedicarme a la carrera militar de aviacion o estudiar en la
            universidad cuatro
            carreras (Quimica, Astrofisica, Sistemas y Criminologia), mi plan es hacer primero la de quimica y
            astrofisica y despues sistemas y criminologia.</p>
        <p class="description_text">Tengo hobbies, actualmente toco la bateria los dias jueves, no tengo una banda
            formada pero me gustaria
            formar una. Otra actividad es boxeo, hago tres dias a la semana, lunes, miercoles y viernes; tengo el
            objetivo de algun dia ser capaz de competir en peleas de peso pesado o mediano.</p>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <p style="font-size: 30px; color: rgb(187, 0, 0); border: 2px solid black;">
                        "Raging Bull" - Martin Scorsese
                    </p>
                    <img src="{{url_for ('static', filename='/images/raging-bull.jpg')}}">
                </div>
                <div class="col">
                    <p style="font-size: 30px; color: rgb(187, 0, 0); border: 2px solid black;">
                        "Whiplash" - Damien Chazelle
                    </p>
                    <img src="{{url_for ('static', filename='/images/whiplash.jpg')}}"
                        style="width: 540px; height: auto;">
                </div>
            </div>
        </div>
        <p class="description_text">Adoro el cine, es mi principal pasion junto a la musica y el boxeo. Durante mi
            ciclos lectivo hice
            variedad de videos, hasta ahora el mejor de todos es uno titulado: "<a
                href="https://drive.google.com/file/d/1-8bwzYJDCwyxivstuC79wjkce77D9Dsa/view?usp=sharing"
                style="text-decoration: none; color: rgb(187, 0, 0);" target="_blank">El
                Fenomeno</a>" que fue una tarea de
            filosofia.</p>
        <p class="description_text">Me considero un fanatico de Martin Scorsese, Quentin Tarantino y Christofer Nolan.
            Cada vez que veo una pelicula le doy una puntuacion en mi perfil de <a
                href="https://www.imdb.com/user/ur207843666/" style="text-decoration: none; color: rgb(184, 171, 0);"
                target="_blank">IMDB</a>.</p>

    </main>

    <!-- FOOTER -->

    <div class="footer-basic">
        <footer>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{{url_for('main')}}">Home</a></li>
                <li class="list-inline-item"><a href="{{url_for('personal')}}">Personal</a></li>
                <li class="list-inline-item"><a href="{{url_for('course')}}">Trayecto</a></li>
                <li class="list-inline-item"><a href="{{url_for('projects')}}">Proyectos</a></li>
            </ul>
            <ul>
                <p style="font-size: 20px; font-weight: bold; margin-bottom: 0; margin-top: 30px;">MAIL</p>
                <a href="mailto:messier57lyr@gmail.com" target="_blank">messier57lyr@gmail.com</a>
            </ul>
            <ul>
                <p style="font-size: 20px; font-weight: bold; margin-bottom: 0; margin-top: 30px;">TELEFONO</p>
                <a href="tel:+5493513153728">+54 9 351 315-3728</a>
            </ul>
            <p class="copyright">PORTAFOLIO | STASYSZYN </p>
        </footer>
    </div>


    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>